In [ ]:
class Company:

  def __init__(self, name, founded):
    self.company_name = name
    self.founded_at = founded
    self.employees = [print]
    self.employees_count = 0

  def __repr__(self):   return "Company name:{}, Founded at:{}, Employees Count:{}".\
                      format(self.company_name,self.founded_at,self.employees_count)


  def add_employee(self,emp): self.employees.append(emp)

In [ ]:
class Job:
  def __init__(self,comp: Company, sal, exp_year,pos):
    self.company = comp
    self.salary = sal
    self.exp_year = exp_year
    self.position = pos

  def __repr__(self):   return "Company:{}, Salary:{}, Experience Year:{}, Posotion:{}".format(self.company.company_name,self.salary,self.exp_year,self.position)

  def change_salary(self,sum): self.salary = sum

  def change_exp_year(self,year): self.exp_year = year

  def change_position(self,pos): self.position = pos

  def add_employee_count(self):  
    self.company.employees_count+=1

  def decrease_emp_count(self):  self.company.employees_count-=1

In [ ]:
class Person:

  def __init__(self,n,s,g,a,add):
    self.name = n
    self.surname = s
    self.gender = g
    self.age = a
    self.address = add
    self.friends = []
    self.jobs = []

  def __repr__(self):
    
    string = ''
    for person in self.friends: 
      string += person.name
      string+=' '
    string = string[:-1]
    
    string2 = ''
    for job in self.jobs: 
      string2 += job.position
      string+=' '   

    return "Name:{} Surname:{} Gender:{} Age:{} Address:{} Friends:{} Job:{} "\
    .format(self.name,self.surname,self.gender,self.age,self.address,string,string2)

  def add_friend(self, friend):  self.friends.append(friend)

  def remove_friend(self, friend):
    try: self.friends.remove(friend)
    except: raise("There is no such person")

  def add_job(self, job):  
    job.add_employee_count()
    self.jobs.append(job)

  def remove_job(self,job):
    try:
      job.decrease_emp_count() 
      self.jobs.remove(job)
    except: raise("There is no such job")

  def display_job(self):   print(self.jobs)

In [ ]:
byb = Company("Byblos","Yerevan")
job_bank = Job(byb,1500,1,"AS")
person1 = Person("Samvel","Balyan","Male","20","Some Address1")
person2 = Person("Tamara","Balyan2","Male","22","Some Address2")
person3 = Person("Anahit","***yan3","Female","25","Some Address3")
person4 = Person("Esim","***yan4","Female","21","Some Address4")

In [ ]:
print(byb)
print("----------------")
person1.add_job(job_bank)
print(person1)
print(byb)
print("----------------")
person2.add_job(job_bank)
print(person2)
print(byb)

Company name:Byblos, Founded at:Yerevan, Employees Count:0
----------------
Name:Samvel Surname:Balyan Gender:Male Age:20 Address:Some Address1 Friends:  Job:AS
Company name:Byblos, Founded at:Yerevan, Employees Count:1
----------------
Name:Tamara Surname:Balyan2 Gender:Male Age:22 Address:Some Address2 Friends:  Job:AS
Company name:Byblos, Founded at:Yerevan, Employees Count:2

In [ ]:
person1.remove_job(job_bank)
print(byb)

Company name:Byblos, Founded at:Yerevan, Employees Count:1