# Class work

In [ ]:
def task1(a): return list(set(a))
def task1_2(a):
  ret = []
  for i in a:
    if i not in ret: ret.append(i)
  return ret
print(task1([44,5,5,6,64,5]))
print(task1_2([44,5,5,6,64,5]))

[64, 44, 5, 6]
[44, 5, 6, 64]

In [ ]:
def task2(a,b):  return set(a).intersection(set(b))
def task2_2(a,b): return set(a) & set(b)

print(task2([1,2,3,4,5],[5,3,4]))
print(task2_2([1,2,3,4,5],[5,3,4]))

{3, 4, 5}
{3, 4, 5}

In [ ]:
def task3(a,b):  return set(a) - set(b)

task3([1,2,3,4,5],[5,4,3])

{1, 2}

In [ ]:
a,b = [1,2,3,7,4,5],[5,11,4,5,3]

def task4(a,b): return (set(a+b)) - task2(a,b)
def task4_2(a,b): return set(a) ^ set(b)

print(task4(a,b))
print(task4_2(a,b))

{1, 2, 11, 7}
{1, 2, 7, 11}

In [ ]:
def task5(a,b):  return set(a) | (set(a) & set(b))

task5(a,b)

{1, 2, 3, 4, 5, 7}

In [ ]:
def task6(s,val):
  
  try:   s.remove(val)
  except:  ...

  return s

task6({1,2,3,45},3)

{1, 2, 45}

In [ ]:
def task7(a):  return [i**3 for i in a]

task7({1,2,3,4,5})

[1, 8, 27, 64, 125]

In [ ]:
def task8(dic,key,val):
  dic[key] = val
  return dic

task8({"a":4,"b":3},"c",7)

{'a': 4, 'b': 3, 'c': 7}

In [ ]:
def task9(dict1,dict2):
  dict3 = dict1
  dict3.update(dict2)
  return dict3
  # return {**dict1,**dict2}

print(task9({"a":4,"b":3},{"b":4,"c":9}))

{'a': 4, 'b': 4, 'c': 9}

In [ ]:
def task10(N):

  dic = {}
  for i in range(1,N):  dic[i] = i**3

  return dic

task10(10)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [ ]:
def task11(a,b):
  return dict(zip(a,b))

def task11_2(a,b):
  dic = {}
  for i in range(len(a)):
    dic[a[i]] = b[i]
  
  return dic

print(task11(["a","b","c"],[1,2,3]))
print(task11_2(["a","b","c"],[1,2,3]))

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}

In [ ]:
def task12(dic):
  values = sorted(list(dic.values()))
  return values[0],values[-1]


print(task12({'a': 3, 'b': 24, 'c': 123, 'd': 1}))

(1, 123)

In [ ]:
def task13(filename,n):
  with open(filename,'r') as name:
    a = name.readlines()
    for i in range(n):
      print(a[i])

task13("filename.txt",5)

FileNotFoundError: ignored

In [ ]:
def task14(filename,n):
  with open(filename,'r') as f:

    a = f.read().split(" ")
    for i in range(len(a)): 
      if "\n" in a[i]:
        
        a.extend(a[i].split("\n"))
        del a[i]
    a.sort(key=len)
    print(a)
    # b = []
    # # a = set(a)
    # for i in range(len(a)):
    #   b.append(len(a[i]))
    # b = set(b)
    # return list(b)[-1]
    

task14("filename.txt",5)

In [ ]:
def task15(filename,n):
  with open(filename,'r') as f:

    return len(f.read().replace(","," ").split()) 
    

task15("file.txt",5)

In [ ]:
def task16(n):

  letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
  with open("words1.txt",'w') as f:

    for i in range(len(letters) // n+1):
      f.write("\n")
      f.write(letters[i*n:n+i*n])


task16(5)

In [ ]:
def age(n):
    return "just born" * (n in range(0, 1)) + "child" * (n in range(1, 10)) + "young" * (n in range(10, 30))
age(21)

# Class

In [ ]:
class Company:

  def __init__(self, name, founded):
    self.company_name = name
    self.founded_at = founded
    self.employees_count = 0

  def __repr__(self):   return "Company name:{}, Founded at:{}, Employees Count:{}".format(self.company_name,self.founded_at,self.employees_count)

In [ ]:
class Job:
  def __init__(self,comp: Company, sal, exp_year,pos):
    self.company = comp
    self.salary = sal
    self.exp_year = exp_year
    self.position = pos

  def __repr__(self):   return "Company:{}, Salary:{}, Experience Year:{}, Posotion:{}".format(self.company.company_name,self.salary,self.exp_year,self.position)

  def change_salary(self,sum): self.salary = sum

  def change_exp_year(self,year): self.exp_year = year

  def change_position(self,pos): self.position = pos

  def add_emp_count(self):  self.company.employees_count+=1

  def decrease_emp_count(self):  self.company.employees_count-=1

In [ ]:
class Person:

  def __init__(self,n,s,g,a,add):
    self.name = n
    self.surname = s
    self.gender = g
    self.age = a
    self.address = add
    self.friends = []
    self.jobs = []

  def __repr__(self):
    
    string = ''
    for person in self.friends: 
      string += person.name
      string+=' '
    string = string[:-1]
    
    string2 = ''
    for job in self.jobs: 
      string2 += job.position
      string+=' '   

    return "Name:{} Surname:{} Gender:{} Age:{} Address:{} Friends:{} Job:{} "\
    .format(self.name,self.surname,self.gender,self.age,self.address,string,string2)

  def add_friend(self, friend):  self.friends.append(friend)

  def remove_friend(self, friend):
    try: self.friends.remove(friend)
    except: raise("There is no such person")

  def add_job(self, job):  
    job.add_emp_count()
    self.jobs.append(job)

  def remove_job(self,job):
    try:
      job.decrease_emp_count() 
      self.jobs.remove(job)
    except: raise("There is no such job")

  def display_job(self):   print(self.jobs)

In [ ]:
byb = Company("Byblos","Yerevan")
job_bank = Job(byb,1500,1,"AS")
person1 = Person("Samvel","Balyan","Male","20","Some Address1")
person2 = Person("Tamara","Balyan2","Male","22","Some Address2")
person3 = Person("Anahit","***yan3","Female","25","Some Address3")
person4 = Person("Esim","***yan4","Female","21","Some Address4")

In [ ]:
print(byb)
person1.add_job(job_bank)
print(byb)
person2.add_job(job_bank)
print(byb)

In [ ]:
person1.remove_job(job_bank)
print(byb)