# TASK 1

Տրված է թվաբանական պրոգրեսիայի առաջին և երկրորդ անդամները։ Տրված n֊ի
համար, վերադարձնել այդ պրոգրեսիայի n֊րդ անդամը։
Օրինակ՝
input: 1 5 3, 2.5 3 5
output: a[3]=9, a[5]=4.5

In [ ]:
def task1(a1,a2,n): return a1+(n-1)*(a2-a1)
print(task1(1,5,3))
print(task1(2.5,3,5))

9
4.5

# TASK 2

CodeMaster-ը նոր է վերադարձել գնումներից։ Նա սկանավորեց իր գնած ապրանքների
չեկը և ստացված շարանը տվեց Ratiorg֊ին՝ պարզելու գնված ապրանքների
ընդհանուր թիվը: Քանի որ Ratiorg-ը բոտ է, նա անպայման պատրաստվում է այն
ավտոմատացնել, ուստի նրան անհրաժեշտ է ծրագիր, որը կամփոփի բոլոր թվերը,
որոնք հայտնվում են տվյալ մուտքագրում:
Օգնեք Ratiorg-ին՝ գրելով ֆունկցիա, որը վերադարձնում է տվյալ inputString-ում
հայտնված թվերի գումարը։
Օրինակ՝
Input: &quot;2 apples, 12 oranges&quot;
Output: 14

In [ ]:
def task2(text):
  text=text.split(" ")
  sum=0
  
  for i in text:
    try: sum += int(i)
    except: pass

  return sum

task2("2 apples, 12 oranges")

14

# TASK 3

Մուտքագրեք երեք ամբողջ թիվ: Տպեք «Տեսակավորված» բառը, եթե թվերը նշված են
ոչ աճող կամ չնվազող հերթականությամբ, իսկ «Չտեսակավորված» հակարակ
դեփքում:
Օրինակ՝
input: [1,2,3], [1,3,2], [5,0,-4]
output: Sorted, Unsorted, Sorted

In [ ]:
def task3(*arr):
  return [check_sorted(i) for i in arr]

def check_sorted(arr):

  # ete nvazox e
  if arr[0] > arr[1]: 
    for i in range(len(arr)-1):
      if arr[i] < arr[i+1]:
        return "Unsorted"
  else:
    # ete ajox e
    for i in range(len(arr)-1):
      if arr[i] > arr[i+1]:
        return "Unsorted"
    # ete sax ok a
  return "Sorted"

task3([1,2,3], [1,3,2], [5,0,-4],[4,5,6,1],[9,8,5,-3,-5])

['Sorted', 'Unsorted', 'Sorted', 'Unsorted', 'Sorted']

# TASK 4

Գրել ֆունկցիա, որը տրված բնական թվի համար կստուգի, արդյոք այն
կատարյալ թիվ է, թե ոչ։
Հ․Գ Թիվը կոչվում է կատարյալ, եթե այն հավասար է իր բաժանարարների
գումարին։
Օրինակ՝
6 ի բաժանարարներն են 1, 2 և 3 , 1 + 2 + 3 = 6, կատարյալ է 12֊ի բաժանարարներըն
են 1, 2 , 3 , 4 , 6 , 1 + 2 + 3 + 4 + 6 = 16, հետևաբար
կատարյալ չէ։

In [ ]:
def task4(n):
  sum = 0
  for i in range(1,n//2+1):
    if n%i == 0 :
      sum+=i

  return sum == n

task4(6)

True

# TASK 5

Գրել ծրագիր, որը տրված թվային արժեքներով ցուցակի համար, կհաշվի նրա
էլեմենտների գումարը։

In [ ]:
def task5(arr):
  sum = 0
  for i in arr: sum+=i
  return sum

task5([5,4,2])

11

# TASK 6
Գրել ֆունկցիա, որը տրված թվային արժեքներով ցուցակի համար, կվերադարձնի այդ
ցուցակի ամենամեծ էլեմենտը։

In [ ]:
def task6(arr):
  max = arr[0]
  for i in arr:
    if i > max: max=i
  return max

task6([5,56,48,2])

56

# TASK 7
Գրել ֆունկցիա, որը տրված ցուցակից կջնջի տրված արժեքին հավասար բոլոր
էլեմենտները։

In [ ]:
def task7(arr,n):
  for i,val in enumerate(arr): 
    if val == n: arr.pop(i)

  return arr

print(task7([5,4,6,4],3))
print(task7([5,4,6,4,4],4))

[5, 4, 6, 4]
[5, 6, 4]

# TASK 8

Գրեք ֆունկցիա որը կվերադարձնի տրված թվային արժեքներով ցուցակի բոլոր
էլեմենտների արտադրյալը։

In [ ]:
def task8(arr):
  mult = 1
  for i in arr: mult*=i
  return mult

task8([5,4,2])

40

# TASK 9
Գրեք ֆունկցիա՝ տողը հակադարձելու համար, եթե դրա երկարությունը 4-ի
բազմապատիկ է։

In [ ]:
def task9(string):
  ret = ""
  if len(string)%4==0:
    for i in range(len(string)-1,-1,-1):
      ret+=string[i]
  else:
    return None
  
  return ret

print(task9("abcdefdd"))
print(task9("asd"))

ddfedcba
None

#TASK 10

Գրեք ֆունկցիա՝ որը տրված բնական n թվի համար վերադարձնում է Ֆիբոնաչիի n-րդ
անդամը։ Խնդիրը լուծել և ռեկուրսիվ, և իտերատիվ մեթոդներով։

In [ ]:
# 1,1,2,3,5,8,13,21,34,...

# indexavorumy 0-c

def fib_rec(n):
  if n<=1: return 1
  
  return fib_rec(n-1)+fib_rec(n-2)

def fib_iter(n):
  if n<=1: return 1
  
  a,b = 1,1
  for i in range(1,n):
    a,b = b,a+b

  return b

print(fib_rec(5))
print(fib_iter(5))

8
8

# TASK 11
Գրել ֆունկցիա, որը տրված 2 բնական թվերի համար կվերադարձնի նրանց
ամենափոքր ընդհանուր բազմապատիկը։

In [ ]:
def task11(a,b):
  temp = b if b>a else a

  while True:
    if b>a: a,b = b,a

    if a>b :
      if a%b == 0:
        return a 
      else:
        a += temp
 
task11(165418,1515415)

22788810770

# TASK 12
Գրեք python ծրագիր՝ նշված թվի հաջորդ ամենափոքր պալինդրոմը գտնելու համար:
Օրինակ 119-ի համար հաջորդ պալինդրոմը 121 է

In [ ]:
def task12(n):
  while True:
    n+=1
    if is_polindrom(n): return n

def is_polindrom(n):
  n = [int(i) for i in str(n)]
  return n==n[::-1]

task12(119)

121

# TASK 13
Ռոբոտը կանգնած է ուղղանկյուն ցանցի վրա և ներկայումս գտնվում է կետում (X0,
Y0): Կոորդինատները ամբողջ թիվ են։ Այն ստանում է N հեռակառավարման
հրամաններ: Յուրաքանչյուր հրաման մեկն է՝ վեր, վար, ձախ, աջ: Ճիշտ հրաման
ստանալուց հետո ռոբոտը մեկ միավոր է տեղափոխում տվյալ ուղղությամբ։ Եթե
ռոբոտը սխալ հրաման է ստանում, նա պարզապես անտեսում է այն: Որտե՞ղ է
գտնվելու ռոբոտը բոլոր հրամաններին հետևելուց հետո:
Ուշադրություն: աջը՝ x0+1, ձախը՝ x0-1, վերևը՝ y0+1, ներքևը՝ y0-1։

In [ ]:

def task13(arr):
  x0,y0 = 0,0

  for i in arr:
    if i == 0: y0+=1 # up
    if i == 1: y0-=1 # down
    if i == 2: x0+=1 # right
    if i == 3: x0-=1 # down

  return(x0,y0)

task13([0,1,2,2,2,2,3,2,3,1,0,1,0,0])

(3, 1)

# TASK 14
Ստուգեք, արդյոք 2 ցուցակները 1-քայլ ցիկլիկ են:
Օրինակ
Ցուցակ1 = [1,2,3,4,5,6]
Ցուցակ2 = [6,1,2,3,4,5]
Վերադարձել True

In [ ]:
def task14(arr1,arr2):
  a = arr1.pop()
  arr1.insert(0,a)
  return arr1 == arr2

task14([1,2,3,4,5,6],[6,1,2,3,4,5])

True

#TASK 15
Գրել ծրագիր, որը ստանւմ է թիվ, գտեք առավելագույն թիվը, որը կարող եք ստանալ՝
ջնջելով տվյալ թվի ուղիղ մեկ թվանշանը:
Օրինակ՝
● For n = 152, the output should be
deleteDigit(n) = 52;
● For n = 1001, the output should be
deleteDigit(n) = 101.

In [ ]:
def task15(n):
  arr =[]
  n = str(n)
  max = int(n.replace(n[0],"",1))

  for i in range(1,len(n)):
    new = int(n.replace(n[i],"",1))

    if max < new: max = new

  return int(max)

task15(10011)

1011

# TASK 16
Գրեք ֆուկցիա որը ստանում է tuple տիպի օբյեկտ և վերադարձնում նոր tuple
բաղկացած միայն առաջին tuple֊ի թվերից։

In [ ]:
def task16(tupl)->tuple:
  lis = list(tupl)
  for i,val in enumerate(lis):
    if type(val) != type(1): lis.pop(i)

  return tuple(lis)

task16((5,2,"asd",4,"asdd",5))

(5, 2, 4, 5)

# TASK 17
Գրեք Python ֆուկցիա որը ստանում է tuple և ցանկացաց տիպի օբյեկտ և ավելացնում
է ստացած արժեքը tuple մեջ։

In [ ]:
def task17(tupl, a):
  tupl = list(tupl)
  tupl.append(a)
  
  return tuple(tupl)

task17((5,4,"asd"),{"name":"asd", "surname":"aaaa"})

(5, 4, 'asd', {'name': 'asd', 'surname': 'aaaa'})

# TASK 18
Գրեք Python ֆուկցիա որը ստանում է tuple դարձնում է string։ Tuplex֊ի էլեմենտները
ստրինգում պետք է բաժանված լինեն ‘-’ նշանով։

In [ ]:
def task18(tupl):
  tupl = list(tupl)
  string = ''
  
  for i in tupl:
    string+=str(i)
    string+='-'

  string = string[:-1]

  return string

task18((5,4,"asdasd",6,7))

'5-4-asdasd-6-7'

# TASK 19

Գրեք Python ֆուկցիա որը ստանում է list և պետքա գտնել նրա երկարությունը առանց
len() ֆունկցիա֊ի օգտագորձմամբ։

In [ ]:
def len2(arr):
  length = 0
  copy = arr.copy()
  while copy != []:
    length+=1
    copy.pop()

  return length

len2([5,4,5,65,4])

5

# TASK 20
Ticket numbers usually consist of an even number of digits. A ticket number is considered
lucky if the sum of the first half of the digits is equal to the sum of the second half.
Given a ticket number n, determine if it&#39;s lucky or not. Not using: string, list, tuple, set
types.
Example:
For n = 1230, the output should be:
is_lucky(n) = True;
For n = 239017, the output should be
is_lucky(n) = False.

In [ ]:
def task20(n):
  n = [int(i) for i in str(n)]
  
  if len(n)%2 : return False

  return sum(n[:len(n)//2]) == sum(n[len(n)//2:])

# TASK 21
Euler function is return a count of numbers not great than N, which are mutualy simple with
N.
Example φ(6)=2, as only 1 and 5 from 1,2,3,4,5 are mutually simple with 6. Write a function
which return count of numbers mutually simple with given N.

In [ ]:
def task21(n):
  count = 0

  for i in range(1,n):
    if mut_simple(n,i): count+=1

  return count


def mut_simple(a,b):
  return gcd(a,b) == 1


def gcd(a,b):
  while True:
    if b>a: a,b = b,a

    if a>b :
      if a%b == 0: return b 
      a = a-b

task21(6)

2

# TASK 22 *
You are given a 0-indexed string array words, where words[i] consists of lowercase English
letters. In one operation, select any index i such that 0 &lt; i &lt; words.length and words[i - 1]
and words[i] are anagrams, and delete words[i] from words. Keep performing this operation
as long as you can select an index that satisfies the conditions.
Return words after performing all operations. It can be shown that selecting the indices for
each operation in any arbitrary order will lead to the same result.
An Anagram is a word or phrase formed by rearranging the letters of a different word or
phrase using all the original letters exactly once. For example, &quot;dacb&quot; is an anagram of
&quot;abdc&quot;.


Example:
Input: words = [&quot;abba&quot;,&quot;baba&quot;,&quot;bbaa&quot;,&quot;cd&quot;,&quot;cd&quot;]
Output: [&quot;abba&quot;,&quot;cd&quot;]

In [ ]:
def make_dir_from_str(a):
  obj = {}

  for i in a:
    if i not in obj: obj[i] = 1
    else: obj[i]+=1

  return obj


def task22(lists):
  check=[]
  ret = []

  for i in lists:
    if make_dir_from_str(i) not in check:
      check.append(make_dir_from_str(i))
      ret.append(i)

  return ret


lists = ["abba","baba","bbaa","cd","cd"]
print(task22(lists))
print(task22(['a','b','a']))

['abba', 'cd']
['a', 'b']

# TASK 23 **
You are given an array of strings names, and an array heights that consists of distinct
positive integers. Both arrays are of length n. For each index i, names[i] and heights[i]
denote the name and height of the ith person. Return names sorted in descending
order by the people&#39;s heights.
Example 1:
Input: names = [&quot;Mary&quot;,&quot;John&quot;,&quot;Emma&quot;], heights = [180,165,170]
Output: [&quot;Mary&quot;,&quot;Emma&quot;,&quot;John&quot;]
Explanation: Mary is the tallest, followed by Emma and John.
Example 2:
Input: names = [&quot;Alice&quot;,&quot;Bob&quot;,&quot;Bob&quot;], heights = [155,185,150]
Output: [&quot;Bob&quot;,&quot;Alice&quot;,&quot;Bob&quot;]
Explanation: The first Bob is the tallest, followed by Alice and the second Bob.

In [ ]:
def task23(n,h):
  dir = dict(zip(n,h))
  keys = sorted(dir.keys(), reverse=True)

  return [dir[i] for i in keys]

print(task23([180,165,170],["Mary","John","Emma"]))
print(task23([155,185,150],["Alice","Bob","Bob"]))

['Mary', 'Emma', 'John']
['Bob', 'Alice', 'Bob']

# TASK 24 ***
In a special ranking system, each voter gives a rank from highest to lowest to all
teams participating in the competition.
The ordering of teams is decided by who received the most position-one votes. If two
or more teams tie in the first position, we consider the second position to resolve the
conflict, if they tie again, we continue this process until the ties are resolved. If two or
more teams are still tied after considering all positions, we rank them alphabetically
based on their team letter.


You are given an array of strings votes which is the votes of all voters in the ranking
systems. Sort all teams according to the ranking system described above.
Return a string of all teams sorted by the ranking system.


Example 1:
Input: votes = [&quot;ABC&quot;,&quot;ACB&quot;,&quot;ABC&quot;,&quot;ACB&quot;,&quot;ACB&quot;]
Output: &quot;ACB&quot;
Explanation:
Team A was ranked first place by 5 voters. No other team was voted as first place, so team
A is the first team.
Team B was ranked second by 2 voters and ranked third by 3 voters.
Team C was ranked second by 3 voters and ranked third by 2 voters.
As most of the voters ranked C second, team C is the second team, and team B is the third.


Example 2:
Input: votes = [&quot;WXYZ&quot;,&quot;XYZW&quot;]
Output: &quot;XWYZ&quot;
Explanation:
X is the winner due to the tie-breaking rule. X has the same votes as W for the first position,
but X has one vote in the second position, while W does not have any votes in the second
position.


Example 3:
Input: votes = [&quot;ZMNAGUEDSJYLBOPHRQICWFXTVK&quot;]
Output: &quot;ZMNAGUEDSJYLBOPHRQICWFXTVK&quot;
Explanation: Only one voter, so their votes are used for the ranking.

In [ ]:
# votes1 = ["ABC","ACB","ABC","ACB","ACB"]
# votes2 = ["WXYZ","XYZW"]
# votes3 = ["ZMNAGUEDSJYLBOPHRQICWFXTVK"]

# def task24(votes):
#   dir={}
#   for i in str(votes[0]): dir[i] = 0

#   for vote in votes:
#     for ind in range(len(vote)):      
#       dir[vote[ind]] += ind+1

#   dir = sorted(dir.items(), key=lambda kv: (kv[1], kv[0]))
#   return ''.join([item[0] for item in dir])


# print(task24(votes1))
# print(task24(votes2))
# print(task24(votes3))

ACB
XWYZ
ZMNAGUEDSJYLBOPHRQICWFXTVK